body{
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
}

.panda{
    position: absolute;
    top: 200px;
    left: 750px;
}


.face{
    height: 290px;
    width: 350px;
    background-color: black;
    border-radius:50% ;
}

.white1{
    height: 190px;
    width: 190px;
    background-color:white;
    position: absolute;
    top:50px;
    left:40px;
    border-radius:50% ;
}

.white2{
    height: 190px;
    width: 190px;
    background-color:white;
    position: absolute;
    top:50px;
    left:120px;
    border-radius:50% ;
}

.stomach{
    height: 320px;
    width: 350px;
    background-color: black;
    border-radius:50% ;
    position: absolute;
    top:200px;
    left: ;
    z-index: -1;
}

.white3{
    height: 260px;
    width: 280px;
    background-color:white;
    border-radius: 50%;
    top: -30px;
    left: 90px;
}